/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  /* Переменные светлой темы */
  --page-font: 'IBM Plex mono', sans-serif;
  --main-size: 18px;
  --main-weight: 400;
  --accent-size: 157px;
  --accent-weight: 700;
  --bg-color: #FFF1F7;
  --header-text-color: #353430;
  --text-color: #353430;
  --accent-color: #FFC2E6;
  --theme-accent-color: #FF8DCB;
  --title-h2-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --decorate-display: none;
}


.page .theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  font-family: var(--page-font);
  background-color: var(--bg-color);
  font-size: var(--main-size);
  background-image: var(--bg-image);
}

/* Остальные стили */

.header-title .theme_light {
  color: var(--accent-color);
}

.header-text .theme_light {
  color: var(--header-text-color);
}

.header__theme-menu-button_active .theme_light {
  border-color: var(--header-text-color);
}

/* .decorated-zone::after .theme_light {
  display:var(--decorate-display);
}

.decorate-zone_ball .theme_light {
  display: var(--decorate-display);
} */

@media (prefers-color-scheme: light) {
  :root {
      /* Дублируем переменные светлой темы */
      --page-font: 'IBM Plex mono', sans-serif;
      --main-size: 18px;
      --main-weight: 400;
      --accent-size: 157px;
      --accent-weight: 700;
      --bg-color: #FFF1F7;
      --text-color: #353430;
      --accent-color: #FFC2E6;
      --theme-accent-color: #FF0070;
      --title-h2-color: #353430;
      --bg-image: url(../images/cover-image-light.png);
      --decorate-display: none;
  }

  /* .decorated-zone::after {
    display:var(--decorate-display);
  }

  .decorate-zone_ball {
    display: var(--decorate-display);
  } */

  .header-title .theme_light {
    color: var(--accent-color, #FFC2E6);
  }

  .header__theme-menu-button_active .theme_light {
    border-color: var(--text-color);
  }
}