
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: var(--page-font);
  background-color: var(--bg-color);
  font-size: var(--main-size);
  max-width: 1024px;
  margin-bottom: 60px;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

/* Хедер */

.header {
  position: relative;
  display: grid;
  min-height: 768px;
  max-width: 1024px;
  height: 100vh;
  gap: 3rem;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "list"
  "title"
  "text"  ;
}
.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-color: transparent transparent  var(--title-subtitle-color) var(--title-subtitle-color);
  border-width: 1px;
  border-style: solid;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-color: var(--title-subtitle-color) var(--title-subtitle-color) transparent transparent;
  border-width: 1px;
  border-style: solid;
}

.decorate-zone_rec {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
}

.decorate-zone_rec::before {
  position: absolute;
  right: 48px;
  top: 20px;
  content: "rec";
  text-transform: uppercase;
  color: #FF0070;
  display: var(--decorate-display);
}

/* КРУЖОК */

.decorate-zone_rec::after {
  content: "";
  position: absolute;
  right: 29px;
  top: 28px;
  display: var(--decorate-display);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
}

/* Кнопки */

.header__theme-menu-list {
  justify-content: center;
  display: flex;
  gap: 10px;
  padding: 20px;
}

.header__theme-menu {
  grid-area: list;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  color: var(--title-subtitle-color);
  cursor: pointer;
  line-height: 100%;
}

.header__theme-menu-button:hover {
  border-width: 1px;
  border-color: var(--border-theme-hover-color) var(--border-theme-hover-color) var(--border-theme-hover-color) var(--border-theme-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-color: transparent transparent var(--title-subtitle-color) transparent;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  border-color: var(--title-subtitle-color);
  pointer-events: none;
}

.header-title {
  grid-area: title;
  font-family: var(--page-font);
  font-size: clamp(7.25rem, 9.0115rem + 1.0178vw, 10.5rem);
  word-spacing: 0.05em;
  color: var(--accent-color, #DB00FF);
  text-shadow: #FF0070 4px 4px;
  font-weight: bold;
  letter-spacing: 0rem;
  line-height: 83%;
  align-self: center;
}

.header-text {
  grid-area: text;
  margin-inline-end: 20px;
  width: calc(50% - 20px);
  text-align: start;
  justify-self: end;
  background-color: var(--theme-accent-color);
  height: min-content;
  color: var(--header-text-color);
  line-height: 130%;
  font-weight: 700;
}

/* Меин */

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.title {
  font-size: var(--main-size);
  font-weight: var(--accent-weight);
  line-height: 23.4px;
}

.card {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.link {
  text-shadow: var(--theme-accent-color) 2px 2px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

.link:hover {
  border-color: transparent transparent var(--text-color) transparent;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border-color: var(--text-color) var(--text-color) var(--text-color) var(--text-color);
}

.card-text {
  color: var(--text-color);
  font-weight: var(--main-weight);
  line-height: 130%;
  text-align: left;
}

.main__global {
  display: grid;
  row-gap: 20px;
  width: 100%;
}

.main__why {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.main__title {
  color: var(--title-subtitle-color);
}

.card-title {
  color: var(--header-text-color);
  width: 100%;
  background-color: var(--theme-accent-color);
}

.main__why-title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main__why-card {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* Секция WHAT */

.main__what {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, auto);
  grid-template-areas: 
    "t t t";
  column-gap: 20px;
}

.main__what-title {
  grid-area: t;
}

.main__what-title > h2 {
  width: 33%;
}

/* Сектор HOW */

.main__how {
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.main__how-title {
  grid-column: 1/2;
  grid-row: 1/3;
}

.main__how-card {
  grid-column: 2/4;
}

.main__how-card .card-title:not(:last-child) {
  font-weight: var(--main-weight);
  font-size: var(--main-size);
}

/* Галерея */

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.gallery__title {
  grid-column: 1/4;
  grid-auto-rows: 1/2;
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery__img1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.gallery__img2 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.gallery__img3 {
  grid-column: 1/2;
  grid-row: 3/5;
}

.gallery__img4 {
  grid-column: 2/4;
  grid-row: 4/5;
}

/* Футер */

.footer {
  display: flex;
  position: relative;
  min-height: 768px;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.footer > .header-title {
  text-shadow: #FF0070 2px 2px;
}

@media (max-width: 768px) {
  .page {
    min-width: 370px;
  }

  .header {
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    gap: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    padding: 0;
    padding-right: 20px;
    padding-top: 15px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    align-self: center;
  }

  .header-text {
    margin-bottom: 22px;
  }

  .main {
    gap: 80px;
  }

  .main__why {
    column-gap: 40px;
  }

  .main__what {
    display: flex;
    flex-direction: column;
  }

  .main__what-title > h2 {
    width: 30%;
  }

  .what__item {
    grid-column: 1/4;
  }

  .main__how-card {
    padding-left: 5px;
  }

  .main__how > h3 {
    margin-left: 5px;
    padding-left: 0;
    width: calc(100% - 10px);
  }
}

@media (max-width: 440px) {
  .main {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .main__how {
    display: flex;
    flex-direction: column;
  }

  .main__how-card {
    padding-left: 0;
  }

  .main__how > h3 {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width:380px) {
  .page {
    gap: 40px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
  
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorate-zone_rec::after {
    right: 19px;
    top: 17px;
  }

  .decorate-zone_rec::before {
    right: 38px;
    top: 10px;
  }

  .header {
    min-height: 668px;
    padding-left: 10px;
    gap: 10px;
  }

  .header__theme-menu-list {
    padding-left: 0;
    padding-right: 10px;
  }

  .header__theme-menu {
    align-self: top
  }

  .header-text {
    width: calc(100% - 20px);
  }

  .main {
    gap: 50px;
  }

  .main__global {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .main__what-title > h2 {
    width: 100%;
  }

  .main__why {
    display: flex;
    flex-direction: column;
  }
  
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding: 0;
    min-height: 668px;
  }
}
