/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #DB00FF;
  --accent-size: 157px;
  --accent-weight: 700;
  --bg-color: #000028;
  --border-theme-hover-color: rgb(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --decorate-display: block;
  --header-text-color: #000028;
  --main-size: 18px;
  --main-weight: 400;
  --page-font: 'IBM Plex mono', sans-serif;
  --padding-px: 20px;
  --text-color: #F1B2CE;
  --theme-accent-color: #FF0070;
  --title-subtitle-color: #FF0070;
}